{% extends 'base.html' %}

{% block title %} Best School in Town {% endblock %}

{% block content %}
<style>
    body {
        background-color: #e5e9eb; /* Imposta lo sfondo del corpo su un colore grigio chiaro */
    }

    h1 {
        font-family: 'Lato';
    }
</style>
<div class="container mt-5">
    <h1><b>Find the Best School in Town</b></h1>
    <p>Choose your city and school level</p>
    <form method="POST" action="{{ url_for('best_school_result') }}">
        {{ form.csrf_token }}
        <div class="form-group">
            {{ form.City.label }}
            {{ form.City(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.SchoolLevel.label }}
            {{ form.SchoolLevel(class="form-control") }}
        </div>
        {{ form.submit3(class="btn btn-primary") }}
    </form>
</div>
{% endblock %}
