{% extends 'base.html' %}

{% block title %}Schools with Specific Infrastructures{% endblock %}

{% block content %}
<style>
    body {
        background-color: #e5e9eb; /* Light grey background */
    }

    h1 {
        font-family: 'Lato'; /* Lato font for the heading */
    }
</style>
<div class="container mt-5">
    <h1><b>Find Schools with Desired Infrastructures</b></h1>
    <p>Select your province and infrastructure requirements</p>
    <form method="POST" action="{{ url_for('schools_with_infrastructures') }}">
        {{ form.csrf_token }}
        <div class="form-group">
            {{ form.Province.label }}
            {{ form.Province(class="form-control") }}
        </div>
        <div class="form-group">
            <label for="infrastructures">Choose Infrastructures:</label>
            <select multiple class="form-control" id="infrastructures" name="infrastructures">
                <option value="Mensa">Cafeteria (Mensa)</option>
                <option value="PalestraPiscina">Gym and Pool (Palestra Piscina)</option>
            
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Find Schools</button>
    </form>
</div>
{% endblock %}
