<!DOCTYPE html>
<html>
  <head>
    <title>Map</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyBycGOGj7aFf2WVpSftXceg-V4I9uBOqT8"></script>
</head>
<body>
    <div style="width:70%; height: 600px" id="map"></div>
</body>
</html>
<script>
    $(document).ready(function() {
        var pos = {lat: 45.4634266, lng: 9.1506068};
        var map = new google.maps.Map(document.getElementById("map"), {center:pos, zoom:12});
        

        var marker = new google.maps.Marker({
            position: {lat:45.4844835706687,lng:9.20490805319666},
            map:map,
            title: "Piazza Duca d'Aosta",
            url: "https://www.google.com/maps/dir//45.4844722,9.2049167/@45.4844722,9.2049167,17z?entry=ttu"
        }) 
        marker.addListener("click", function(){
            alert("The provider for this charging station is A2A Energy Solutions! Click 'close' to get the location of the charging station on Google Maps")
            window.open(marker.url, "_blank");
        })


        var marker = new google.maps.Marker({
            position: {lat:45.4621490324913,lng:9.19357713616389},
            map:map,
            title: "Via Larga",
            url: "https://www.google.com/maps/dir//45.462149,9.1935771/@45.4621527,9.1910022,17z/data=!4m2!4m1!3e0?entry=ttu"
        }) 
        marker.addListener("click", function(){
            alert("The provider for this charging station is A2A Energy Solutions! Click 'close' to get the location of the charging station on Google Maps")
            window.open(marker.url, "_blank");
        })


        var marker = new google.maps.Marker({
            position: {lat:45.467629357113, lng: 9.17760367245734},
            map:map,
            title: "Piazzale Luigi Cadorna",
            url: "https://www.google.com/maps/dir//45.462149,9.1935771/@45.4621527,9.1910022,17z/data=!4m2!4m1!3e0?entry=ttu"
        }) 
        marker.addListener("click", function(){
            alert("The provider for this charging station is A2A Energy Solutions! Click 'close' to get the location of the charging station on Google Maps")
            window.open(marker.url, "_blank");
        })


        var marker = new google.maps.Marker({
            position: {lat:45.4842765276858 ,lng:9.23541763461848},
            map:map,
            title: "Via Pacini Giovanni",
            url: "https://www.google.com/maps/dir//45.462149,9.1935771/@45.4621527,9.1910022,17z/data=!4m2!4m1!3e0?entry=ttu"
        }) 
        marker.addListener("click", function(){
            alert("The provider for this charging station is A2A Energy Solutions! Click 'close' to get the location of the charging station on Google Maps")
            window.open(marker.url, "_blank");
        })


        var marker = new google.maps.Marker({
            position: {lat:45.437301971912 ,lng: 9.16916994362816},
            map:map,
            title: "Viale Famagosta",
            url: "https://www.google.com/maps/dir//45.462149,9.1935771/@45.4621527,9.1910022,17z/data=!4m2!4m1!3e0?entry=ttu"
        }) 
        marker.addListener("click", function(){
            alert("The provider for this charging station is A2A Energy Solutions! Click 'close' to get the location of the charging station on Google Maps")
            window.open(marker.url, "_blank");
        })


        var marker = new google.maps.Marker({
            position: {lat:45.4592234422341,lng: 9.19284390459348 },
            map:map,
            title: "Largo Francesco Richini",
            url: "https://www.google.com/maps/dir//45.462149,9.1935771/@45.4621527,9.1910022,17z/data=!4m2!4m1!3e0?entry=ttu"
        }) 
        marker.addListener("click", function(){
            alert("The provider for this charging station is A2A Energy Solutions! Click 'close' to get the location of the charging station on Google Maps")
            window.open(marker.url, "_blank");
        })


        var marker = new google.maps.Marker({
            position: {lat:45.4633000930932,lng: 9.17751245902057},
            map:map,
            title: "Via Santa Valeria",
            url: "https://www.google.com/maps/dir//45.462149,9.1935771/@45.4621527,9.1910022,17z/data=!4m2!4m1!3e0?entry=ttu"
        }) 
        marker.addListener("click", function(){
            alert("The provider for this charging station is A2A Energy Solutions! Click 'close' to get the location of the charging station on Google Maps")
            window.open(marker.url, "_blank");
        })


        var marker = new google.maps.Marker({
            position: {lat:45.4673525978868,lng: 9.20373148951774},
            map:map,
            title: "Corso Monforte",
            url: "https://www.google.com/maps/dir//45.462149,9.1935771/@45.4621527,9.1910022,17z/data=!4m2!4m1!3e0?entry=ttu"
        }) 
        marker.addListener("click", function(){
            alert("The provider for this charging station is A2A Energy Solutions! Click 'close' to get the location of the charging station on Google Maps")
            window.open(marker.url, "_blank");
        })


        var marker = new google.maps.Marker({
            position: {lat:45.468364867932,lng:9.17404513505665},
            map:map,
            title: "Via Metastasio",
            url: "https://www.google.com/maps/dir//45.462149,9.1935771/@45.4621527,9.1910022,17z/data=!4m2!4m1!3e0?entry=ttu"
        }) 
        marker.addListener("click", function(){
            alert("The provider for this charging station is A2A Energy Solutions! Click 'close' to get the location of the charging station on Google Maps")
            window.open(marker.url, "_blank");
        })


        var marker = new google.maps.Marker({
            position: {lat:45.4769937197823,lng:9.19832077590361},
            map:map,
            title: "Via Daniele Manin",
            url: "https://www.google.com/maps/dir//45.462149,9.1935771/@45.4621527,9.1910022,17z/data=!4m2!4m1!3e0?entry=ttu"
        }) 
        marker.addListener("click", function(){
            alert("The provider for this charging station is A2A Energy Solutions! Click 'close' to get the location of the charging station on Google Maps")
            window.open(marker.url, "_blank");
        })

        var marker = new google.maps.Marker({
            position: {lat:45.4669652505341,lng:9.19163895056757},
            map:map,
            title: "Largo Raffaele Mattioli",
            url: "https://www.google.com/maps/dir//45.462149,9.1935771/@45.4621527,9.1910022,17z/data=!4m2!4m1!3e0?entry=ttu"
        }) 
        marker.addListener("click", function(){
            alert("The provider for this charging station is A2A Energy Solutions! Click 'close' to get the location of the charging station on Google Maps")
            window.open(marker.url, "_blank");
        })
    })
</script>