{% extends 'base.html' %}

{% block title %} Your Provider {% endblock %}

{% block content %}

    <head>
        <title>Charging Points by Provider</title>
    </head>
    <body>
        <h1>Search Charging Points by Provider</h1>
        <!-- WTForms Form to get input from the user -->
        <form method="POST" action="">
            {{ form.csrf_token }}
            <div class="form-group">
                {{ form.provider_name.label }}
                {{ form.provider_name(class="form-control", placeholder="Enter provider name") }}
            </div>
            {{ form.submit(class="btn btn-primary") }}
        </form>
          <!-- Display the result here -->
          <div id="resultContainer" class="mt-3">
            {% if result %}
            <ul>
                {% for item in result %}
                <li>{{ item.localita, item.tipologia, item.numero_col }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% if error_message %}
                <p class="text-danger">{{ error_message }}</p>
            {% endif %}
        </div>
    </body>
    </html>


{% endblock %}