{% extends 'base.html' %}

{% block title %} Provider given street name {% endblock %}

{% block content %}

    <div> class="container mt-5"
        <h1> Hello everyone!</h1>
        <p> This is a page implemented to return a provider for each charging station present in a given street name of Milan</p>
        
        <!-- WTForms Form to get input from the user-->
        <form method="POST" action="">
            {{ form.csrf_token}}
            <div class="form-group">
                {{ form.street_name.label}}
                {{ form.street_name(class="form-control", placeholder="Enter a street name for the city of Milan")}}
            </div>
        {{ form.submit(class="btn btn-primary") }}
        </form>

        <!-- Display the result here-->
        <div id="resultContainer" class="mt-3">
            {% if result %}
                <p>{{result }}</p>
            {% endif %}
            {% if error_message %}
                <p class="text-danger">{{ error_message }}</p>
            {% endif %}
        </div>
    
    
    </div>

{% endblock %}
